div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h2 My Books

      form.form-inline(ng-submit="addBook()")
        .form-group
          input.form-control(type="text", placeholder="Enter book name here..." ng-model="bookName")
          button.btn.btn-primary(type="submit") Add!

      book-display(ng-repeat="book in books")
